In [1]:
import django
import os
os.environ['DJANGO_SETTINGS_MODULE'] = 'FacebookPosts.settings'
django.setup()
from IMDB.models import *
from django.db import connection, reset_queries
from django.db.models import Avg, F, Sum, FloatField, functions, Count, Max, Q, ExpressionWrapper, DurationField

In [2]:
ratings = MovieRating.objects.values('movie_id','movie__title').annotate(average=functions.Cast(Sum(F('rating_number')*F('no_of_ratings')*1.0)/Sum(F('no_of_ratings')), output_field=FloatField())).order_by('-average')[:10]
for movie in ratings:
    print(movie['movie__title'])
connection.queries

I
Bi
A
R
S
K
Ma
F
E
M

[{'sql': 'SELECT "IMDB_movierating"."movie_id", "IMDB_movie"."title", CAST((SUM((("IMDB_movierating"."rating_number" * "IMDB_movierating"."no_of_ratings") * 1.0)) / SUM("IMDB_movierating"."no_of_ratings")) AS real) AS "average" FROM "IMDB_movierating" INNER JOIN "IMDB_movie" ON ("IMDB_movierating"."movie_id" = "IMDB_movie"."id") GROUP BY "IMDB_movierating"."movie_id", "IMDB_movie"."title" ORDER BY "average" DESC  LIMIT 10',
  'time': '0.000'}]

In [3]:
reset_queries()

In [4]:
import IMDB.operations as op
op.top_ten_movies_with_top_avg_rating()

['I', 'Bi', 'A', 'R', 'S', 'K', 'Ma', 'F', 'E', 'M']

In [5]:
no_of_movies = MovieCast.objects.values('cast_id').annotate(movies=Count(F('movie_id'))).order_by('-movies') 
actors_list = list(no_of_movies)
top_5_actors = actors_list[:5]
least_5_actors = actors_list[-5:]
print(top_5_actors, least_5_actors)
connection.queries

[{'cast_id': 2, 'movies': 4}, {'cast_id': 6, 'movies': 4}, {'cast_id': 1, 'movies': 3}, {'cast_id': 3, 'movies': 3}, {'cast_id': 4, 'movies': 3}] [{'cast_id': 16, 'movies': 2}, {'cast_id': 9, 'movies': 1}, {'cast_id': 13, 'movies': 1}, {'cast_id': 17, 'movies': 1}, {'cast_id': 18, 'movies': 1}]

[{'sql': 'SELECT "IMDB_movierating"."movie_id", "IMDB_movie"."title", CAST((SUM((("IMDB_movierating"."rating_number" * "IMDB_movierating"."no_of_ratings") * 1.0)) / SUM("IMDB_movierating"."no_of_ratings")) AS real) AS "average" FROM "IMDB_movierating" INNER JOIN "IMDB_movie" ON ("IMDB_movierating"."movie_id" = "IMDB_movie"."id") GROUP BY "IMDB_movierating"."movie_id", "IMDB_movie"."title" ORDER BY "average" DESC  LIMIT 10',
  'time': '0.000'},
 {'sql': 'SELECT "IMDB_moviecast"."cast_id", COUNT("IMDB_moviecast"."movie_id") AS "movies" FROM "IMDB_moviecast" GROUP BY "IMDB_moviecast"."cast_id" ORDER BY "movies" DESC',
  'time': '0.000'}]

In [6]:
from django.db.models import OuterRef, Subquery
star_month = MovieCast.objects.filter(movie_id=OuterRef('movie_id')).values('cast__birth_date__month').annotate(count=Count('cast__birth_date__month')).values_list('cast__birth_date__month', flat=True).order_by('-count','cast__birth_date__month')
star_months = MovieCast.objects.values('movie_id','cast__birth_date__month').annotate(count=Count('id'), star_month=Subquery(star_month[:1])).filter(movie__release_date__month=F('star_month'), cast__birth_date__month=F('star_month')).order_by('-count').values('movie_id','count')
star_months

<QuerySet [{'movie_id': 1, 'count': 2}, {'movie_id': 3, 'count': 1}, {'movie_id': 5, 'count': 1}, {'movie_id': 6, 'count': 1}, {'movie_id': 8, 'count': 1}, {'movie_id': 10, 'count': 1}, {'movie_id': 12, 'count': 1}]>

In [7]:
reset_queries()

In [8]:
actor_month = Actor.objects.filter(id=OuterRef('cast_id')).values_list('birth_date__month', flat=True)
movie_month = MovieCast.objects.values('cast_id', 'movie__release_date__month').annotate(count=Count('movie_id'), actor_month=Subquery(actor_month)).filter(movie__release_date__month=F('actor_month'), cast__birth_date__month=F('actor_month'))
movie_month

<QuerySet [{'cast_id': 1, 'movie__release_date__month': 5, 'count': 2, 'actor_month': 5}, {'cast_id': 4, 'movie__release_date__month': 5, 'count': 2, 'actor_month': 5}, {'cast_id': 9, 'movie__release_date__month': 4, 'count': 1, 'actor_month': 4}, {'cast_id': 10, 'movie__release_date__month': 3, 'count': 1, 'actor_month': 3}, {'cast_id': 15, 'movie__release_date__month': 1, 'count': 1, 'actor_month': 1}, {'cast_id': 18, 'movie__release_date__month': 5, 'count': 1, 'actor_month': 5}]>

In [9]:
from django.db.models.functions import ExtractMonth
actor_movies = MovieCast.objects.values('cast_id').annotate(count=Count('movie_id'), actor_month=ExtractMonth('cast__birth_date'), movie_month=ExtractMonth('movie__release_date')).filter(movie__release_date__month=F('actor_month')).values('cast_id','count')
actor_movies

In [10]:
movie_rating_difference = MovieRating.objects.filter(movie_id=OuterRef('movie_id')).values('movie_id').annotate(one_star=Sum('no_of_ratings', filter=Q(rating_number=1)), five_star=Sum('no_of_ratings', filter=Q(rating_number=5)), difference=F('one_star')-F('five_star')).values('difference')
actors = MovieCast.objects.annotate(difference=Subquery(movie_rating_difference)).values('cast_id').annotate(difference_sum=Sum('difference')).order_by('-difference_sum')
print(actors)
connection.queries

<QuerySet [{'cast_id': 2, 'difference_sum': 75}, {'cast_id': 3, 'difference_sum': 50}, {'cast_id': 6, 'difference_sum': 41}, {'cast_id': 1, 'difference_sum': 36}, {'cast_id': 10, 'difference_sum': 34}, {'cast_id': 18, 'difference_sum': 28}, {'cast_id': 9, 'difference_sum': 25}, {'cast_id': 14, 'difference_sum': 23}, {'cast_id': 17, 'difference_sum': 6}, {'cast_id': 7, 'difference_sum': 3}, {'cast_id': 13, 'difference_sum': 3}, {'cast_id': 15, 'difference_sum': -14}, {'cast_id': 4, 'difference_sum': -23}, {'cast_id': 16, 'difference_sum': -28}]>

[{'sql': 'SELECT "IMDB_moviecast"."cast_id", django_date_extract(\'month\', "IMDB_movie"."release_date"), COUNT("IMDB_moviecast"."movie_id") AS "count", (SELECT django_date_extract(\'month\', U0."birth_date") FROM "IMDB_actor" U0 WHERE U0."id" = ("IMDB_moviecast"."cast_id")) AS "actor_month" FROM "IMDB_moviecast" INNER JOIN "IMDB_actor" ON ("IMDB_moviecast"."cast_id" = "IMDB_actor"."id") INNER JOIN "IMDB_movie" ON ("IMDB_moviecast"."movie_id" = "IMDB_movie"."id") WHERE (django_date_extract(\'month\', "IMDB_actor"."birth_date") = (SELECT django_date_extract(\'month\', U0."birth_date") FROM "IMDB_actor" U0 WHERE U0."id" = ("IMDB_moviecast"."cast_id")) AND django_date_extract(\'month\', "IMDB_movie"."release_date") = (SELECT django_date_extract(\'month\', U0."birth_date") FROM "IMDB_actor" U0 WHERE U0."id" = ("IMDB_moviecast"."cast_id"))) GROUP BY "IMDB_moviecast"."cast_id", django_date_extract(\'month\', "IMDB_movie"."release_date"), (SELECT django_date_extract(\'month\', U0."birth_date") FROM "IMDB_actor" U0 WHERE U0."id" = ("IMDB_moviecast"."cast_id"))  LIMIT 21',
  'time': '0.000'},
 {'sql': 'SELECT "IMDB_moviecast"."cast_id", COUNT("IMDB_moviecast"."movie_id") AS "count" FROM "IMDB_moviecast" INNER JOIN "IMDB_actor" ON ("IMDB_moviecast"."cast_id" = "IMDB_actor"."id") INNER JOIN "IMDB_movie" ON ("IMDB_moviecast"."movie_id" = "IMDB_movie"."id") WHERE django_date_extract(\'month\', "IMDB_movie"."release_date") = (django_date_extract(\'month\', "IMDB_actor"."birth_date")) GROUP BY "IMDB_moviecast"."cast_id", django_date_extract(\'month\', "IMDB_actor"."birth_date"), django_date_extract(\'month\', "IMDB_movie"."release_date")  LIMIT 21',
  'time': '0.001'},
 {'sql': 'SELECT "IMDB_moviecast"."cast_id", SUM((SELECT (SUM(CASE WHEN U0."rating_number" = 1 THEN U0."no_of_ratings" ELSE NULL END) - SUM(CASE WHEN U0."rating_number" = 5 THEN U0."no_of_ratings" ELSE NULL END)) AS "difference" FROM "IMDB_movierating" U0 WHERE U0."movie_id" = ("IMDB_moviecast"."movie_id") GROUP BY U0."movie_id")) AS "difference_sum" FROM "IMDB_moviecast" GROUP BY "IMDB_moviecast"."cast_id" ORDER BY "difference_sum" DESC  LIMIT 21',
  'time': '0.000'}]

In [11]:
reset_queries()

In [12]:
youngest_actors = MovieCast.objects.filter(movie_id=OuterRef('id')).values('movie_id').annotate(age=ExpressionWrapper(F('movie__release_date')-F('cast__birth_date'), output_field=DurationField())).order_by('age').values('age')[:1]
movies = Movie.objects.annotate(young_actor=Subquery(youngest_actors)).values('id','young_actor').order_by('young_actor')[:10]
movies

<QuerySet [{'id': 9, 'young_actor': 829958400000000}, {'id': 13, 'young_actor': 848016000000000}, {'id': 10, 'young_actor': 853459200000000}, {'id': 3, 'young_actor': 912384000000000}, {'id': 7, 'young_actor': 921801600000000}, {'id': 8, 'young_actor': 970358400000000}, {'id': 2, 'young_actor': 989366400000000}, {'id': 4, 'young_actor': 1006819200000000}, {'id': 1, 'young_actor': 1028160000000000}, {'id': 11, 'young_actor': 1056585600000000}]>

In [13]:
casts_count_in_movie_year = MovieCast.objects.values('movie__release_date__year').annotate(cast_count=Count('cast_id')).order_by('-cast_count').values('movie__release_date__year')[:1]
casts_count_in_movie_year

In [39]:
movies = MovieCast.objects.filter(movie__moviecast__movie_id=F('movie_id')).annotate(second_cast_id=F('movie__moviecast__cast_id')).exclude(cast_id=F('second_cast_id')).filter(cast_id__lt=F('second_cast_id')).values('cast_id','second_cast_id').annotate(count=Count('id'))
max_count = movies.aggregate(Max('count'))
cast = movies.filter(count=max_count['count__max'])
print(cast)
connection.queries

<QuerySet [{'cast_id': 2, 'second_cast_id': 3, 'count': 3}]>

[{'sql': 'SELECT MAX("count") FROM (SELECT "IMDB_moviecast"."cast_id" AS Col1, T3."cast_id" AS "second_cast_id", COUNT("IMDB_moviecast"."id") AS "count" FROM "IMDB_moviecast" INNER JOIN "IMDB_movie" ON ("IMDB_moviecast"."movie_id" = "IMDB_movie"."id") INNER JOIN "IMDB_moviecast" T3 ON ("IMDB_movie"."id" = T3."movie_id") WHERE (T3."movie_id" = ("IMDB_moviecast"."movie_id") AND NOT ("IMDB_moviecast"."cast_id" = (T3."cast_id")) AND "IMDB_moviecast"."cast_id" < (T3."cast_id")) GROUP BY "IMDB_moviecast"."cast_id", T3."cast_id") subquery',
  'time': '0.000'},
 {'sql': 'SELECT "IMDB_moviecast"."cast_id", T3."cast_id" AS "second_cast_id", COUNT("IMDB_moviecast"."id") AS "count" FROM "IMDB_moviecast" INNER JOIN "IMDB_movie" ON ("IMDB_moviecast"."movie_id" = "IMDB_movie"."id") INNER JOIN "IMDB_moviecast" T3 ON ("IMDB_movie"."id" = T3."movie_id") WHERE (T3."movie_id" = ("IMDB_moviecast"."movie_id") AND NOT ("IMDB_moviecast"."cast_id" = (T3."cast_id")) AND "IMDB_moviecast"."cast_id" < (T3."cast_id")) GROUP BY "IMDB_moviecast"."cast_id", T3."cast_id" HAVING COUNT("IMDB_moviecast"."id") = 3  LIMIT 21',
  'time': '0.000'}]

In [38]:
reset_queries()

In [58]:
cast_age = MovieCast.objects.values('movie_id').annotate(cast_avg_age=Avg(ExpressionWrapper((F('movie__release_date')-F('cast__birth_date')), output_field=DurationField())))
youngest_movies = cast_age.values('movie_id').order_by('cast_avg_age')[:5]
oldest_movies = cast_age.values('movie_id').order_by('-cast_avg_age')[:5]
print(list(youngest_movies), list(oldest_movies))

[{'movie_id': 9}, {'movie_id': 10}, {'movie_id': 13}, {'movie_id': 3}, {'movie_id': 7}] [{'movie_id': 15}, {'movie_id': 12}, {'movie_id': 5}, {'movie_id': 6}, {'movie_id': 1}]